<footer class="bg-primary d-flex justify-content-between align-items-center">
  <p>&copy; Copyright 2021 TwitChart</p>
  <a
    href="https://github.com/1aurence/TwitChart"
    target="_blank"
    class="text-light"
    >Github</a
  >
  <a href="#" class="text-light">Contact me</a>
</footer>
