<meta charset="UTF-8" />
<title>TwitChart</title>
<link href="/css/main.css" rel="stylesheet" type="text/css" />

<!-- CSS (load bootstrap from a CDN) -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css"
/>
<!-- Datepicker CSS -->
<link
  href="bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css"
  rel="stylesheet"
  type="text/css"
/>
<!-- jQuery -->
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"
></script>

<!-- Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
