<form action="/tweets" method="POST" novalidate>
  <div class="form-group">
    <input
      type="text"
      name="keyword"
      class="form-control"
      id=""
      placeholder="Enter Tweet keyword"
    />
  </div>
  <div class="form-group">
    <input
      type="number"
      name="amount"
      class="form-control"
      id=""
      placeholder="Amount of Tweets"
    />
  </div>
  <button type="submit" class="btn btn-primary">Get Tweets</button>
</form>

<script>

</script>