<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
      <div class="jumbotron">
        <h1>Seems to be working...</h1>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum amet
          iusto laudantium possimus! Accusamus, ipsa.
        </p>
      </div>
    </main>
  </body>
</html>
