<div class="d-flex flex-column align-items-center mt-3">
  <h1>Compare Tweets</h1>
  <p>Fill out the form below to compare Tweets to see the correlation between the Tweet length and number of likes</p>
  <form
    action="/tweets/length-likes"
    method="POST"
    class="w-50"
    id="search-tweets"
  >
    <div class="form-group">
      <input
      required
        type="text"
        name="keyword"
        class="form-control"
        id=""
        placeholder="Tweet keyword"
      />
    </div>
    <div class="form-group d-flex">
      <input
      required
        type="date"
        name="start_date"
        class="form-control mr-2"
        id=""
        placeholder="Start Date"
      />
      <input
      required
        type="date"
        name="end_date"
        class="form-control"
        id=""
        placeholder="End Date"
      />
    </div>
    <div class="form-group">
      <input
      required
        type="number"
        name="amount"
        class="form-control"
        id=""
        placeholder="Amount of Tweets"
      />
    </div>
    <button type="submit" class="btn btn-primary">Compare Tweets</button>
  </form>
</div>
